header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.logged-in {
  height: 520px;
  background-color: #d69421;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #FFFFFF;
  flex-direction: column;
  align-items: center;
}

.your {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 600;
}

.name {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
}